<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>pythonpackages.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        background: #FFFFFF url('http://c260667.r67.cf1.rackcdn.com/img04.png') no-repeat left top;
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="http://c260667.r67.cf1.rackcdn.com/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="https://pythonpackages.com">pythonpackages.com</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Hosted configuration files</h1>
          </div>
          <div class="row-fluid">
            <div class="span4">
                <table class="table table-bordered table-striped">
                    <thead>
                      <tr><td><strong>Software</strong></td></tr>
                    </thead>
                    <tbody>
                        <tr><td><a href="apache-modwsgi">apache-modwsgi</a></td></tr>
                        <tr><td><a href="bluebream">bluebream</a></td></tr>
                        <tr><td><a href="django">django</a></td></tr>
                        <tr><td><a href="jenkins">jenkins</a></td></tr>
                        <tr><td><a href="plone">plone</a></td></tr>
                        <tr><td><a href="plone-getpaid">plone-getpaid</a></td></tr>
                        <tr><td><a href="wordpress">wordpress</a></td></tr>
                        <tr><td><a href="zope2">zope2</a></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="span4">
            <h2>Documentation</h2>
            <p>
                <a href="http://docs.pythonpackages.com/en/latest/hosted-configs/index.html">Read how to use these files.</a>
            </p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; <a href="http://aclark.net">ACLARK.NET, LLC</a> 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>

  

</body></html>
