<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>pythonpackages.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="bento buildout django easy_install distribute distutils distutils2 packaging pip plone python pyramid setuptools wheel zc.buildout">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/vanity.css" rel="stylesheet">
    <style type="text/css">
      body {
        background: #FFFFFF url('/static/img/img04.png') no-repeat left top;
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.ico">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34402193-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">pythonpackages.com&nbsp;<span
            class="label-before" style="font-size: 90%">beta</span></a> 
          <div class="nav-collapse">
            <ul class="nav">
              <li id="about-tab"><a href="/about">About</a></li>
              <li id="plans-tab"><a href="/plans">Plans & Pricing</a></li>
              <li id="activity-tab"><a href="/activity">Recent Activity</a></li>
              <li id="signup-tab"><a href="/signup">Sign Up</a></li>
              <li id="users-tab"><a href="/users">Users</a></li>
            </ul>
            % if userid:
                <form class="navbar-search pull-left" action="/?tab=info" method="POST">
                    <input class="search-query" id="quick_fav" type="text" placeholder="Python package?" name="package">
                </form>
            % endif
            ${menu|n}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div>
        <div>
        <!-- Main hero unit for a primary marketing message or call to action -->
