           <div class="alert alert-info">
           <p>
             <strong id="beta-sign-up">Beta release coming soon</strong>
             When our beta site launches in mid 2012, we will introduce a new feature we think Python programmers will like.
           </p>
           <p>
             <h5><i class="icon-envelope"></i> Would you like to be notified?</h5>
           </p>
           <p>
             <a class="btn btn-info" href="/beta">Sign up &raquo;</a>&nbsp;<a class="btn" href="http://www.youtube.com/watch?v=bDJJATpF3mE">Watch the demo &raquo</a>
           </p>
           </div>
