                <div class="row-fluid">
                  <div class="span3">
                    <code>${num_packages_pypi}</code> packages currently hosted on the <a href="http://pypi.python.org/pypi">Python Package Index</a>.
                  </div>
                  <div class="span3">
                    <code>${num_packages}</code> packages featured
                    <code>${num_times_featured}</code> times on this site, downloaded
                    <code>${num_downloads}</code> times from the <a href="http://pypi.python.org/pypi">Python Package Index</a>.
                  </div>
                  <div class="span3">
                    <p>
                      <code>${betacount}</code> Python programmers registered for <a
                        href="/signup">our beta</a>.
                  </div>
                  <div class="span3">
                    <p>
                      <code>${followers}</code> Python programmers <a
                        href="http://twitter.com/pythonpackages">follow us on Twitter</a>.
                    </p>
                  </div>
                </div>
